ion-title{
    color: white;
}
.text-white{
    color: white;
}
.transparent-list {
    background-color: transparent !important;
  }
.size{
    font-size: 20px;
}
.checkout{
    font-size: 15px;
    color: white;
    padding-bottom: 5px;
}
.total{
    color: black;
    padding-bottom: 30px;
}
.modal-content {
    background-color: var(--ion-color-danger);
  }